.bg {
  padding: 0;
  margin: 0;
  background-image: url("../Assets/Images/HEX FPR WBE 1.png");
  background-color: #00ffffcc;
  background-size: cover;
  height: 530vh;
  background-repeat: no-repeat;
  width: 100%;
  overflow: hidden;
}

.hole {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-image: none;
  overflow: hidden;
  display: fixed;
  justify-content: center;
  opacity: 1;
}

.hole-fliters {
  height: 300px;
  width: 300px;
  position: absolute;
  border-radius: 50%;

  border-radius: 50%;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(0, 0, 0, 0) 15%,
    rgba(0, 0, 0, 0.2) 20%,
    rgba(0, 0, 0, 0.4) 25%,
    rgba(0, 0, 0, 0.6) 30%,
    rgba(0, 0, 0, 0.8) 35%,
    rgba(0, 0, 0, 0.9) 40%,
    rgba(0, 0, 0, 0.95) 45%,
    rgba(0, 0, 0, 0.975) 50%,
    rgba(0, 0, 0, 0.99) 55%,
    rgba(0, 0, 0, 1) 100%
  );
}
