.tokenomics-main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column; 
  align-items: stretch; 
  justify-content: center;
  align-items: center;
  gap: 4%;
}

.tokenomics-logo img{
  height: 120px;
}
.tokenomics-middle-section{
  display: flex;
  align-items: space-around;
  justify-content: center;
  gap: 50px;
  width: 200%;
}

.liquidity, .tokenomics-max-supply, .tokenomics-presale{
  height: 150px;
  width: 14.5%;
  background-image: url('../Assets/Images/Rectangle 9.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
flex-direction: column;
align-items: start;
justify-content: center;
padding-left :2%;
}
.liquidity h1, .tokenomics-max-supply h1, .tokenomics-presale h1{
  font-size: 1.6em;
}


.tokenomics-middle-section-heading{
  color:#00ffff;
  font-size: 0.8em;
}


.tokenomics-presale{
  padding-left: 3.5%;
  width: 28vw;
  height: 150px;
}

