@font-face {
    font-family: 'green-energy'; 
    src: url('./Assets/Fonts/GREEN_ENERGY.ttf') format('truetype'); /* Replace with your font file path */
  }
@font-face {
    font-family: 'gesrics'; 
    src: url('./Assets/Fonts/Gesrics.otf') format('truetype'); /* Replace with your font file path */
}

.green-energy-fonts{
    font-family: green-energy;
 }

 .gesrics{
  font-family: gesrics;
 }

.display-flex-spaceBetween{
    display: flex;
    justify-content: space-between;
}


.display-flex-spaceAround{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.center-item, .center-item-column{
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-item-column{
    flex-direction: column;
}
.page-heading{
    font-size: 6rem;
    font-family: green-energy;
    background: -webkit-linear-gradient(#00ffff,#02AAE1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body{
background-color: black;
overflow-x: hidden;
}
